In [91]:
import pandas as pd

df = pd.read_csv('day3.txt', names=['itemstring'])

lowercase_dict = {chr(i): i - ord('a') + 1 for i in range(ord('a'), ord('z') + 1)}
uppercase_dict = {chr(i): i - ord('A') + 27 for i in range(ord('A'), ord('Z') + 1)}

lowercase_lambda = lambda char: lowercase_dict[char.lower()] if char.isalpha() and char.islower() else 0
uppercase_lambda = lambda char: uppercase_dict[char] if char.isalpha() and char.isupper() else 0

df['countsplit'] = df['itemstring'].apply(len)*0.5

def split_itemstring(row):
    itemstring = row['itemstring']
    countsplit = int(row['countsplit'])
    middle_index = countsplit

    itemstring1 = itemstring[:middle_index]
    itemstring2 = itemstring[middle_index:]

    return itemstring1, itemstring2

df[['itemstring1', 'itemstring2']] = df.apply(split_itemstring, axis=1, result_type='expand')
pointsGot = []

def testie(df):

    for index, row in df.iterrows():
        string1 = set(row['itemstring1'])
        string2 = set(row['itemstring2'])
        points = 0
        
        common = string1.intersection(string2)
        
        for char in common:
            if char.islower():
                points += lowercase_lambda(char)
            elif char.isupper():
                points += uppercase_lambda(char)
        
        pointsGot.append(points)

    return pointsGot

testie(df)

print(sum(pointsGot))

8085

In [92]:
import numpy as np

lower_letters= np.array(list('abcdefghijklmnopqrstuvwxyz'))
upper_letters = np.char.upper(lower_letters)
all_letters = np.concatenate((lower_letters, upper_letters))

df2 = pd.read_csv('day3.txt', names=['itemstring'])

df2['group'] = pd.Series(df2.index/3 + 1).apply(int)
df2 = df2.groupby('group')['itemstring'].agg(lambda x: list(x)).reset_index()
df2['common_item'] = df2['itemstring'].apply(lambda x: list(set(x[0]) & set(x[1]) & set(x[2]))[0])
df2['position'] = df2['common_item'].apply(lambda x: np.where(all_letters==x)[0][0]+1)

df2

,group,itemstring,common_item,position
0,1,"[fBDGBcBrGDvjPtPtPV, QhzJLlLJZgLZzNTgZClQHvRvH...",r,18
1,2,"[MJbgcgJlvMSbfjMSbllmCrntwmFrrFwgtCtFFG, vPhdd...",v,22
2,3,[jwhqbZRvbzvbqqpqzqHHCCCzsLmmQVtmJVJtLWLPrVLLV...,Z,52
3,4,"[RSDprRrwgVVRwrGqrJsNFJslgglmmNszzN, LLnWjcHWn...",p,16
4,5,"[PQNGshQWtwWNcjssJHHJdlBLBlLrRDFFCrdwSlLB, mbz...",s,19
...,...,...,...,...
95,96,[gCCRBClgfCgFFTltTGgBqTsQhzLzQQNPnvrNzHrrfPzHL...,q,17
96,97,"[SFDcrFHtlqhqqLdzTTwdJLPNDL, vBWsWvsmgvvvdPwNn...",N,40
97,98,"[SQpgGgMNvggQGMvQcgnHWmldnHWTWndnSHHF, DwbDPzt...",l,12
98,99,"[HdqfjjLfHqFSHddVWNBjsWhWRRJtBNBs, gPMQHpmrcmn...",H,34
99,100,"[FFsVtFGVGvWVhlfVhzlsFvHbPwPmwHLTSbLjcLtbSbLm,...",w,23

In [90]:
df2['position'].sum()

2515