In [16]:
import pandas as pd

df = pd.read_csv('day2.txt', sep=" ", names=['enemy', 'me'])
# A == Rock == X 1 point for rock
# B == Paper == Y 2 for paper
# C == Siccors == Z  3 for siccors
# 6 for win == 0 for loss == 3 for draw 

wins = [['C', 'X'],['A', 'Y'],['B', 'Z']]
ties = [['A', 'X'],['B', 'Y'],['C', 'Z']]
losses = [['A', 'Z'],['B', 'X'],['C', 'Y']]

point_factors_win = {'X': 7, 'Y': 8, 'Z': 9}
point_factors_loss = {'X': 1, 'Y': 2, 'Z': 3}
point_factors_tie = {'X': 4, 'Y': 5, 'Z': 6}

def checkWinLossTie(row):
    enemy_choice = row['enemy']
    my_response = row['me']

    if [enemy_choice, my_response] in wins:
        return'Win'
    elif [enemy_choice, my_response] in losses:
        return 'Loss'
    elif [enemy_choice, my_response] in ties:
        return 'Tie'
    
df['result'] = df.apply(checkWinLossTie, axis=1)

In [40]:
def addPoints(row):
    my_response = row['me']
    result = row['result']
    
    if result == 'Win' and my_response in point_factors_win:
        return point_factors_win[my_response]
    elif result == 'Tie' and my_response in point_factors_tie:
        return point_factors_tie[my_response]
    elif result == 'Loss' and my_response in point_factors_loss:
        return point_factors_loss[my_response]
    else:
        return 0
    
df['points'] = df.apply(addPoints, axis=1)

In [42]:


print(sum(df['points']))

11906

In [43]:
# me column X means i need to lose
# me colimn Y draw
# me column Z win

In [47]:

df = df.drop(['result', 'points'], axis=1)

df

     enemy me
0        A  Y
1        A  Y
2        B  X
3        A  Y
4        C  Y
...    ... ..
2495     A  Y
2496     A  Y
2497     A  Y
2498     B  Y
2499     A  Y

[2500 rows x 2 columns]

In [ ]:
def setRequested(row):
    my_response = row['me']
    
    if my_response == 'Y':
        return 'Tie'
    elif my_response == 'X':
        return 'Loss'
    elif my_response == 'Z':
        return 'Win'
    else:
        return 0
    
df['should_do'] = df.apply(setRequested, axis=1)

df

In [ ]:
to_win = {'A': 'Y', 'B': 'Z', 'C': 'X'}
to_tie = {'A': 'X', 'B': 'Y', 'C': 'Z'}
to_loss = {'A': 'Z', 'B': 'X', 'C': 'Y'}

def response(row):
    enemy = row['enemy']
    result = row['should_do']
    
    if result == 'Win' and enemy in to_win:
        return to_win[enemy]
    elif result == 'Tie' and enemy in to_tie:
        return to_tie[enemy]
    elif result == 'Loss' and enemy in to_loss:
        return to_loss[enemy]
    else:
        return 0
    
df['response'] = df.apply(response, axis=1)

df

In [ ]:
def addPoints(row):
    my_response = row['response']
    result = row['should_do']
    
    if result == 'Win' and my_response in point_factors_win:
        return point_factors_win[my_response]
    elif result == 'Tie' and my_response in point_factors_tie:
        return point_factors_tie[my_response]
    elif result == 'Loss' and my_response in point_factors_loss:
        return point_factors_loss[my_response]
    else:
        return 0
    
df['points'] = df.apply(addPoints, axis=1)

df

In [53]:
df

     enemy me should_do response  points
0        A  Y       Tie        X       4
1        A  Y       Tie        X       4
2        B  X      Loss        X       1
3        A  Y       Tie        X       4
4        C  Y       Tie        Z       6
...    ... ..       ...      ...     ...
2495     A  Y       Tie        X       4
2496     A  Y       Tie        X       4
2497     A  Y       Tie        X       4
2498     B  Y       Tie        Y       5
2499     A  Y       Tie        X       4

[2500 rows x 5 columns]

In [52]:
print(sum(df['points']))

11186